@model Expense_Tracker.Models.Category

@{
    ViewData["PageTitle"] = Model.CategoryId == 0 ? "Create a new category" : "Edit category";
}


<div class="row">
    <div class="col-md-7">
        <div class="widget p-5  mycustomwidget">
                <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioleft" name="Type" value="Expense" checked="@(Model.Type=="Expense")" />
                        <label class="e-btn" for="radioleft">Expense</label>
                        <input type="radio" id="radiomiddle" name="Type" value="Income" checked="@(Model.Type=="Income")" />
                        <label class="e-btn" for="radiomiddle">Income</label>
                    </div>
                </div>
                <div id="budgetamountContainer" class="mb-3">
                    @Html.Label("Budget Amount")
                    @Html.TextBox("budgetamount", null, new { @class = "form-control" })
                </div>
                <div class="mb-3">
                    <ejs-textbox id="title" placeholder="Title" ejs-for="Title" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Title" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="icon" placeholder="Icon" ejs-for="Icon" floatLabelType="Always"></ejs-textbox>
                </div>
                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>


    </div>
    <div class="col-md-5 ">
        <div class="widget h-100 d-flex justify-content-center align-items-center  mycustomwidget">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(function () {
            // Handle change event of category select
                $(document).ready(function () {
                    $('input[name="Type"]').change(function () {
                        var selectedValue = $('input[name="Type"]:checked').val();
                        console.log("Selected value:", selectedValue);
                        var budgetamountContainer = $("#budgetamountContainer");
                        if (selectedValue === "Income") {
                            budgetamountContainer.fadeOut();
                        }
                        else {
                            budgetamountContainer.fadeIn();
                        }
                    });
                });
        });
    </script>
}